@tailwind base;
@tailwind components;
@tailwind utilities;


body::-webkit-scrollbar {
  display: none;
}

div::-webkit-scrollbar {
  display: none;
}


  input::placeholder {
 
    color:#291507;
    font-weight: 500
    
}

span{
    @apply text-[#291507];
    @apply font-Montserrat;
    @apply font-medium;    
}